<header class="header header-absolute">
  <!-- Navbar-->
  <nav class="navbar navbar-light navbar-expand-lg bg-transparent fixed-top navbar-airy bg-hover-white bg-fixed-white navbar-hover-light navbar-fixed-light navbar-expand-md">
    <div class='container-wide'>
    <a class="navbar-brand" href="#">Rodrigo J Aguilar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <!-- /Navbar -->
</header>
